.sidebar .closed {

    width: 80px;


}

.sidebar .open {

    
    width: 600px;
    align-items: center;
    margin-left: -20px;
}

.sidebar{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    flex: 1;
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background: rgb(21, 84, 21);
    border-right: solid 1px white;

}

.cart-icon{

    color: white;
    display: flex;
    margin: 20px;
    align-items: center;
    

}

.sidebar-title{

    margin-left: 60px;
    color: white;
}


/* .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    flex: 1;
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2rem;
    background: green;
    border-right: solid 1px white
}

.sidebar.closed {
    width: 60px
}

.sidebar.open {
    width: 800px
}

.sidebar .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.sidebar .toggle-button {
    margin-top: 20px;
    transition: all .2s cubic-bezier(.075,.82,.165,1);
    background: transparent;
    color: #fff;
    border: none
}

.sidebar .toggle-button.open {
    transform: rotateY(180deg)
}

.sidebar i {
    margin-right: 10px;
    cursor: pointer;
    color: #fff
} */

/* .sidebar i.material-icons {
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px; 
  } */

  .shopping-cart {
    width: 550px;
    color: black

}

.shopping-cart .open {
    max-width: 550px
    
}

.shopping-cart .open>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.shopping-cart .open>h3>span {
    margin-left: 10px
}

.shopping-cart .notification {
    color: #fff;
    text-align: center;
    margin: 10px
}

.shopping-cart .cart-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    padding-left: .5rem
}

.shopping-cart .cart-icon {
    margin-bottom: 16px
}

.shopping-cart .CartTable {
    width: 100%;
    margin: 0 10px
}

.shopping-cart .CartTable .header {
    display: flex;
    flex-direction: column;
    background: white;
    border: solid 1px gray;
    border-radius: 4px;
    width: 100%
}

.shopping-cart .header-row {
    display: flex;
    height: 50px;
    background: green;
    margin-bottom: 15px
}

.shopping-cart .header-row span {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px
}

.shopping-cart .header-row span.center {
    display: flex;
    justify-content: center
}

.shopping-cart .flex-2 {
    flex: 2;
    padding-left: 10px
}

.shopping-cart .product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px var(--border-color)
}

.shopping-cart .product-row span {
    flex: 1
}

.shopping-cart .product-row span.center {
    display: flex;
    justify-content: center
}

.shopping-cart .receipt {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px
}

.shopping-cart .receipt span {
    flex: 1;
    
}

.shopping-cart .receipt span.center {
    display: flex;
    justify-content: center;
    font-weight: 600
}

.shopping-cart .receipt .receipt-subtotal,.shopping-cart .receipt .receipt-taxes,.shopping-cart .receipt .receipt-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0
}

.shopping-cart .receipt .receipt-total {
    border-top: solid 1px gray
}

.shopping-cart .receipt .label {
    font-weight: 600;
    padding-left: 10px

}

.checkout-form {
    padding: 16px
}

.checkout-form>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.checkout-form>h3>span {
    margin-left: 10px
}

.checkout-form .label {
    color: #fff
}

.checkout-form .is-danger {
    color: rgb(244, 62, 62);
    font-weight: 700;
}

.checkout-form .input-field {
    width: 100%;
    margin: 5px 0
}

.checkout-form .input-field .label {
    color: #fff
}

.checkout-form .input-field .control {
    width: 100%;
    margin: 5px 0
}

.checkout-form .input-field .control input {
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border-radius: 8px;
    border: solid 1px #e4e4e4;
    flex: 1;
    font-size: 16px
}

.checkout-form button {
    margin-top: 10px;
    padding: 12px 18px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: solid 1px white;
    color: #fff
}

.checkout-success {
    width: 100%;
    padding: 1rem
}

.checkout-success>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.checkout-success>h3>span {
    margin-left: 10px
}

.checkout-success p {
    color: #fff
}

.checkout-success .card {
    color: #fff;
    display: flex;
    flex-direction: column
}

.checkout-success .card .card-title {
    color: #fff;
    font-weight: 20px;
    margin-bottom: 5px
}

.checkout-success .purchase .header {
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 10px 0
}

.checkout-success .purchase {
    padding-left: 20px
}

.checkout-success .purchase li {
    color: #fff
}

.checkout-success button {
    margin: 10px;
    padding: 12px 18px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: solid 1px white;
    color: #fff
}

.checkbox {

    color: white;
}