.wrapper .open  {
    width:500px;
    margin:50px ;
    
    left: 0;
    background: gray;
    margin-left:0%;
    position: sticky;
    top: 0;
    left: 0px;
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
    text-align: center;
    background: gray;
    margin-right: 10px;
    
}
.wrapper .closed {
    display: none;
}

.forwardBtn {
    width: 10%;
}


