.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    transition: all .2s cubic-bezier(.215,.61,.355,1);
    position: fixed;
    z-index: 100;
    top: 0px;
    height: 100vh;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2rem;
    /* background:#a87988; */
    border-right: solid 1px white;
}
.sidebar.open {
    width: 575px;
}
.sidebar.closed {
    width: 60px;
}
.sidebar .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sidebar .toggle-button {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .2s cubic-bezier(.075,.82,.165,1);
    background: transparent;
    color: #fff;
    border: none;
}
.sidebar .toggle-button.open {
    transform: rotateY(180deg);
}
.shopping-cart .cart-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    padding-left: 0.5rem;
}
.material-icons.md-48 {
    font-size: 40px;
}
.shopping-cart .cart-icon {
    margin-bottom: 16px;
}
.sidebar i {
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}