.sidebar {
  padding-top: 80px;
  background-color: var(--dark-Cp);
  height: 100vh;
  position: fixed;
  width: 570px;
  left: -600px;
  z-index: 2;
  transition: all 0.3s;
  border-right: solid white;
  padding-left: 20px;
  padding-right: 20px;
  overflow: scroll;
}

.sidebarHeader {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#paymentHeader {
  margin-top: 45px;
}
.checkbtn {
  color: white;
  padding-top: 20px;
  font-size: 30px;
  z-index: 3;
  cursor: pointer;
  padding-left: 80px;
  transition: all 0.3s;
  position: fixed;
}

.input-sidebar {
  width: 95%;
  height: 40px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}

#termSidebar {
  margin-bottom: 10px;
}

#button-sidebar {
  color: white;
  background-color: var(--dark-Cp);
  width: 120px;
  height: 50px;
  font-size: large;
  border: solid white;
}

#button-sidebar:hover {
  background-color: var(--light-cp);
  cursor: pointer;
}

#check {
  display: none;
}
#check:checked ~ section {
  left: 0;
}
#check:checked ~ label {
  padding-left: 520px;
}
