.home {    
  max-width: 100vw;
  min-height: 100vh;
}

.product-image{
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
}

.products-grid {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  max-width: 100vw;
  margin: 40px 0;
}

.product .main-info{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;

}
