.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 120px;

}
.search {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact-list {
  width: 50%;
  color: white;
  font-weight: 600;
  font-size: 20px;
  list-style-type: none;
  padding: 64px
}
li {
  
  display: flex;
  margin-top: 28px;
  flex-direction: row;
  align-items: center;
}
.label {
 width: 160px;
 padding: 10px;
 margin-right: 10px;
}

.about{
  border: 2px solid var(--gray);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
}
.about-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
  padding-left: 80px;
  line-height: 50px;
}
.about-media {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-media > img{
  width: 300px
}
.footer-clean {
  padding:50px 0;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: var(--light-gray);
}
.col-sm-4{
  width: 200px;

}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.icon {
  font-size: 30px;
}

/* Credit to https://epicbootstrap.com/snippets/footer-with-columns */