.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}

* {
  outline: none;
}
h2{
  padding-top: 30px;
  padding-bottom: 30px;
}
p{
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  padding: 10px;
  font-size: 18px;
}
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #ffd8d8;
}
.banner {
  height: 25%;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: white;
  overflow: hidden;
  background: white;  /* fallback for old browsers */
  background: linear-gradient(rgba(250, 250, 250, 0.8), rgba(251, 251, 251, 0.8)), url("https://i.pinimg.com/originals/44/3b/44/443b44dfcaf450db93d35c2a5ca5d5c3.gif");  /* Chrome 10-25, Safari 5.1-6 */
  background-size: cover;
  background-repeat: no-repeat;
}
.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button .submit{
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #b37d8b;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button .submit {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #b37d8b;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button .submit span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button .submit span:before,
button .submit span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #b37d8b;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #b37d8b;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button .submit span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button .submit span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button .submit span:before,
#s-cover:hover button .submit span:after {
  right: -6px;
  width: 40px;
  background-color: #b37d8b;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay{
  display: block;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 254, 254, 0.5);
  z-index: 2;
  cursor: pointer;
}