.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

h3 {
  width: 80%;
  margin: 0 auto;
}

/* a, span, div, p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: black;
} */

.about .summary {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 330px;
  margin: 0 auto;
}

.about.summary .text{
  padding: 30px;
}

.media img {

  height: 328px;
}

.about .media {
  width: 360px;
  background-color: #2c4047;
}