.app {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.app main {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  
}

html, body, #root, .container {
  height: 100%;

}

.containers {
  display: flex;
  flex-direction: row;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow: auto;
}