.app {
  width: 100vw;
  height: 100vh;
}
.app main {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  margin: 0;
  padding: 0;
}

.sidebarContainer{
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: #69433a;
}
.navbar{
  background-color: #69433a;
}
.navbar ul{
  list-style: none;
  display: flex;
  gap: 10rem;
  margin-left: 21rem;
  font-size: 20px;
  font-weight: bold;
}
nav a{
  color: aliceblue;
}
.product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between 100px;
  padding-left: 120px;
}
.product img{
  width: 80%;
  height: auto;
  max-height: 300px;
  border-radius: 20px;
  padding-top: 20px;
}
.product {
  margin: 1%;
  width: 400px;
  border-style:dashed;
  border-color: #69433a;
  border-radius: 20px;
  text-align: center;
  background-color: #e2d4ba;
  
}
.link{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content{
  width: 100%;
  height: 350px;
  background-color: #e2d4ba;
  display: flex;
  flex-direction:row;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  margin-left: 40px;
}
.intro{
  margin-left: 25%;
  padding-left: 62px;
}

.media img{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 100px;
  padding-bottom: 50px;
  background-color: transparent;
}
.Purchase-header{
  text-align: center;
  margin-left: 30px;
}
.About-container{
  width: 100%;
  height: 350px;
  text-align: center;
  margin-left: 40px;
  margin-top: 50px;
  background-color: #e2d4ba;
}
.search-container{
  text-align: center;
}
.search-container button{
  background-color: #e2d4ba;
  color: #69433a;
  justify-content: space-between;
  width: 100px;
  height: 50px;
}
.search-container button:hover{
  scale: 1.1;
}
.facts img{
  width: 300px;
  height: 300px;
}
.Contact-container{
  width: 100%;
  height: 350px;
  text-align: center;
  background-color: #e2d4ba;
  margin-left: 40px;
  margin-top: 50px;

}

.sidebar2{
  transform: translateX(0);
}


