@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

:root {
  --font: "Prompt", Arial, sans-serif;
  --side-padding: 40px;
  --content-width: 1100px;
  --transition: all 0.2s ease;
  --shadow: 0 0 7px #00000077;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --muted-green: #00b77c;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --grey-hover: #e5e5e5;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6;
}

.app {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: var(--font);
}

.app * {
  box-sizing: border-box;
}

.app main {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
}