.PlusMinusButton button{
    width: 50px;
    margin: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.PlusMinusButton button:hover{
    width: 50px;
    margin: 2px;
    cursor: pointer;
    scale: 1.1;
    background-color: gold;
}