.shopping-cart {
    width: 100%;
    color: #fff;
}
.shopping-cart .open {
    max-width: 550px;
}
.shopping-cart .open>h3 {
    color: #a9d6e5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopping-cart .open>h3>span {
    margin-left: 10px;
}
.shopping-cart .CartTable {
    width: 100%;
    margin: 0 10px;
}
.shopping-cart .CartTable .header {
    display: flex;
    flex-direction: column;
    background: #a9d6e5;
    border: solid 1px #e4e4e4;
    border-radius: 4px;
    width: 100%;
}
.shopping-cart .product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px #e4e4e4;
}
.shopping-cart .header-row {
    display: flex;
    height: 50px;
    background: #2c4047;
    margin-bottom: 15px;
}
.shopping-cart .header-row span {
    flex: 1;
    color: #a9d6e5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}
.shopping-cart .header-row span.center {
    display: flex;
    justify-content: center;
}
.shopping-cart .product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px #e4e4e4;
}
.shopping-cart .product-row span {
    flex: 1;
}
.shopping-cart .product-row span.center {
    display: flex;
    justify-content: center;
}
.shopping-cart .receipt {
    display: flex;
    flex-direction: column;
    background: #a9d6e5;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}
.shopping-cart .receipt .receipt-subtotal, .shopping-cart .receipt .receipt-taxes, .shopping-cart .receipt .receipt-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.shopping-cart .receipt .label {
    font-weight: 600;
    padding-left: 10px;
}
.shopping-cart .receipt span {
    flex: 1;
}
.shopping-cart .receipt span.center {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.shopping-cart .receipt .receipt-total {
    border-top: solid 1px #e4e4e4;
}