




h3, p, .confirmation-text, .email-label, .name-label, .terms-label {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.confirmation-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 5%;
    font-weight: 400;
}

.shopping-cart-title, .checkout-info-title {

    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;


}

.warning-message {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color:white;
    display: flex;
    justify-content: center;



}

.email-label, .name-label {
    margin: 0;

}
.checkout-button {
    margin-top: 5%;
    justify-content: center;
}

.email-input, .name-input, .terms, .checkout-button {
    margin-left: 3%;
}


.checkout-table-header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-around;
}

.checkout-table-name, .checkout-table-quantity, .checkout-table-unit, .checkout-table-cost {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 750;
}

.product-row {
    display: flex;
    justify-content: space-around;
}

.cart-product-name, .cart-product-quantity, .product-row-unit, .product-row-cost, .subtotal-text {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;

}


.subtotal-header {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

.totals-container {
    margin-top: 5%;
}

.subtotal-text {
    display: flex;
    justify-content: center;
    margin-left: 10%;
}



