.purchase-container{
    padding: 10rem 20rem 10rem 20rem;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 0px 0px var(--text-color-dark);
}
.purchase-content{
    width: 100%;
}
.cart-purchase-row-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.purchase-cart-row{
    display: flex;
    width: 100%;
    gap: 3rem;
    border: 1px dashed var(--text-color-dark);
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
}