
.product-card{

    background-color: white;
    margin: 10px;
    
    
    border-style: solid;
    border-color: rgb(191, 191, 191);
    
    width: 300px;
    
}
    
.product-card img { 
    
      height: 250px;
      width: 297px; 
    
      border-style: solid;
      border-color: rgb(191, 191, 191);
    
} 
    
.product-card p{
    
      padding-left: 20px;
      font-size: 14pt;
      font-weight: 500;
}


.product-card .product-info {
    flex: 1;
    display: flex;
    border-top: solid 1px var(--border-color)
}

.product-card .main-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    align-items: flex-start;
    
}

.product-card .main-info .product-name {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.product-card .main-info .product-price {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.product-card .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.product-card .quantity {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px
}

.product-card .quantity .amt {
    background: var(--accent-orange);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center
}

.product-card .buttons {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end
}

.product-card .buttons button {
    display: flex;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    max-height: fit-content;
    max-width: fit-content;
    margin: 10px 5px
}

.product-card .buttons i {
    width: 20px;
    height: 20px;
    border: solid 1px green;
    color: green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px
}

.product-card .desc {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%
}
.stars svg{

    height: 20px;
    width: 20px;
    fill: orange;
}