* {
    box-sizing: border-box;
}

.product-grid .product-card {
    height: 350px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 1px #e4e4e4;
}

.product-grid .product-card .media img{
    height: 250px;
    width: 100%;
}

.product-card {
    background: white;
    display: flex;
    flex-direction: column;
    border: solid 1px #e4e4e4;
    max-width: 800px;
}

.product-card .media img {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.product-card .product-info {
    flex: 1;
    display: flex;
    border-top: solid 1px #e4e4e4;
}

.product-card .main-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.product-card .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-card .buttons {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.product-card .buttons button {
    display: flex;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    max-height: fit-content;
    max-width: fit-content;
    margin: 10px 5px;
}

.product-card .buttons i {
    width: 20px;
    height: 20px;
    border: solid 1px #00c385;
    color: #00c385;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.product-card .quantity {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.product-card .quantity .amt {
    background: orange;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .main-info .product-name {
    font-size: 15px;
    font-weight: 500;
}