.product-card{
    display: inline-block;
    font-size: 20px;
    width: 300px;
    justify-content: center;
    margin-left: 150px;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 5%;
}

.media {
    width: 300px;
    height: 300px;
    border-radius: 5px;

}

.product-details {
    font-family: Arial;
    width: 350px;
    margin-left: 5%;
    

    
}


.product-name {
    margin-bottom: 0;
}

.product-card {
    position: relative;
    top: 0;
    border-radius: 10%;
    transition: top ease 1s;
}

.product-card:hover{
    top: -20px;
}