.product-card {
    height: 350px;
    width: 250px;
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
}

.product-card .media {
    height: 250px;
    width: 100%;
}

.product-card .media .product-image {
    height: 250px;
    width: 100%;
}