.product-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    background-color: white;
    border-radius: 1em;
}

.product-card img {
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

button {
    border: 2px solid green;
    color: green;
    background-color: white;
    height: 30px;
    width: 30px;
}

button:hover {
    background-color: rgb(237, 255, 237);
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
}

.button-container {
    display: flex;
    flex-direction: row;
}

/* .button-container > * {
    margin-right: 10px;
} */

.text-container {
    display: flex;
    flex-direction: column;
    font-size: large;
}

h3 {
    margin-bottom: -10px;
}

.product-quantity {
    color: black;
}