.product-card-wrapper {
    width: fit-content;
    height: fit-content;
  }

.product-card-wrapper.detail {
  margin:auto;
}

.product-card {
    width: fit-content;
    height: fit-content;
    min-width: 260px;
    padding: 1rem;
    margin: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
  }

.product-card.detail {
  border-radius: 5%;
  min-width: 450px;
  max-width: 800px;
  margin-left: 30px;
}

.amt-in-cart {
  background-color: rgb(255, 208, 0);
  position: relative;
  margin-left: 100%;
  left: -30px;
  top: 30px;
  width: fit-content;
  padding: 10px;
  border-radius: 100%;
  font-weight: bolder;
}

.amt-in-cart.detail {
  font-size: x-large;
  margin:auto;
  max-width: 10px;
  border-radius: 10%;
  margin-left: 40px;
}

.amt-in-cart.hidden {
  background-color: rgba(0, 0, 0, .0);
  color: rgba(0, 0, 0, .0);
}

.product-img {
  height: 205px;
  width: 205px;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10%;
}

.product-img.detail {
  position: relative;
  left: -100px;
  margin-left: 50%;
}

.product-img.detail:hover {
  cursor: pointer;
}

.product-name {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.product-price {
  font-size: large;
}

button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 2px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.add-item {
  background-color: #2ea44f;
}

.add-item.detail {
  margin-left: 50%;
  left: -105px;
}

.add-item:hover {
  background-color: #207e3b;
}

.remove-item {
  background-color: #d02424;
} 

.remove-item.detail {
  position: fixed;
  margin-right: 50%;
  right: -125px;
} 

.remove-item:hover {
  background-color: #a42323;
} 

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}