.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: top ease 0.5s;
    width:250px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-top: -5px;
  cursor: pointer;

  
}


.container {

  padding: 2px 16px;

}
.product-image{
    width: 250px;
    height: 250px;
}