
.Footer {

    /* width: 100%; */
}

.footer-content{


margin-bottom: 30px;
border-style: solid;
border-color: gray;
display: flex;
flex-direction: column;
}

.Footer .columns-grid{


    display: flex;
    flex-direction: row;
    
    /* padding: 20px; */
    justify-content: space-between;
    margin-right: 140px;
    margin-left: 140px;
}

.Footer ul {

    list-style-type: none;
    padding: 0;

}

.Footer li {

    margin-top: 10px;

}

.bottom{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    margin-right: 140px;
    margin-left: 140px;
    
    
}

.payment-options img {

    margin-left: 15px;
}

