.footer {
    max-width: var(--maxContentWidth);
    width: 100%;
    text-align:center;
    padding:10px;
    margin:10px auto 0 auto;
    background-color: var(--darkBlue);
    color: var(--white);
}