.footer {
    height: 300px;
    width: calc(100% - var(--sidebar-width));
    position: relative;
    left: var(--sidebar-width);
    background-color: white;
    border-top: var(--border-style);
    margin-top: 100px;
    color: var(--font-secondary);
}

.footer-links-container {
    padding: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.footer-column > h3 {
    font-weight: 400;
    font-size: 1.3em;
    color: var(--codepath-dark-grey);
}


.footer-column > p {
    font-weight: 400;
    color: var(--font-secondary)
}

#payment-icons {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0px;
    border-top: var(--border-style);
    gap: 20px;
  }