table {
  color: white;
  font-size: 18px;
}
table {
  margin: 1%;
  background-color: rgb(105, 105, 105);
  width: 98%;
  padding: 1%;
}

th {
  width: 26%;
  text-align: left;
  background-color: rgb(72, 72, 72);
  height: 50px;
  padding: 2%;
}

td {
  text-align: left;
  max-width: 100px;
  background-color: rgb(105, 105, 105);
  height: 4vh;
  padding: 1.5% 0.5%;
}

.clear-cart-btn {
  color: rgb(204, 204, 204);
  min-height: 55px;
  width: 50%;
  margin: 3.5% 0;
  background-color: transparent;
  border: 3px solid rgb(204, 204, 204);
  border-radius: 15px;
  cursor: pointer;
}
