.category {
    font-size: 1.1em;
    margin-right: 2em;
    text-decoration: none;
    color: #000;
    border-bottom: 3px solid transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.category:hover, .category:active {
    color: #000;
    border-bottom: 3px solid #56b8e6;
}