#about{
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 350px;
    max-width: 60%;
    border:solid #afafaf
}
.contact{

    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
    background-color: var(--dark-Cp);
    width: 60%;
    border:solid black
}
#socials{
    color: white;
}
.about-logo img{
    width: 450px;
    height: 347px;
}
.about-info{
    padding: 40px;
    color: #504f4f;
    font-size: larger;
    overflow: scroll;
}

h2{
    margin-left: 20%;
    margin-top: 90px;
}

#socials{
    padding: 70px;
    font-size: larger;
}

#contact-img{
    width:600px;
}

.footer{
    background-color: white;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20% 20px 20%;
}
.bold{
    font-weight: bold;
}

.downloads{
    width: 110px;
}

.cards{
    margin: 0 auto;
    width: 100%;
    padding-left: 70%;
    padding-bottom: 10px;
    border-top:  solid var(--background);
    background-color: white;
}

.payment{
    margin: 5px;
    width: 40px;
}

.span-contact{
    display: inline-block;
    max-width: 150px;
}