
.about {
    width: 100%;
    max-width: 100vw;
    min-height: 350px;
    margin: 40px 0
}

.about .contents {
    max-width: var(--contents-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 350px
}

.about .contents h3 {
    margin: 10px 0 30px;
    font-size: 24px;
    font-weight: 600
}

.about .contents .summary {
    display: flex;
    flex-direction: row;
    background: white;
    height: 330px;
    border: solid 1px #e0e0e0
}

.about .contents .summary .text,.about .contents .summary .codepath {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px
}

.about .contents .summary .text {
    align-items: flex-start;
    padding: 28px 36px;
    color: var(--font-light)
}

.about .contents .summary .text p {
    color: var(--font-light);
    margin-bottom: 18px;
    font-size: 18px
}

.about .contents .summary .codepath {
    background: var(--dark-blue);
    height: 329px
}
