.product-price {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    font-weight: 250;
}

.product-name{
    font-size: 25px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.3ch;
    line-height: 1.1;
}

.product-quantity{
    font-size: 16px;
    margin: 10px 10px;
    text-align: center;
    font-weight: normal;  
}

.product-card{
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px 10px;
    width: 30%;
    background-color: #e2dfcf;
    box-shadow: 5px 5px 3px #999;
    padding-left: 10px;
}

.product-image{
    width: 150px;
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.add, .remove{
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    border: beige;
    border-radius: 5px;
}

.product-quantity{
    text-align: center;
}

.buttonsAndQuantity{
    display: inline;
}