.query-bar-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.search-bar-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1rem;
   width: 100%;
}
.search-input{
    outline: transparent;
    position: relative;
    flex-grow: 1;
    padding: 0.75rem;
    font-size: 2.5rem;
    border-color: var(--p-color);
    transition: border-color 300ms ease-in-out;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px
}
.search-input:focus, .search-input:hover, .search-input:focus-within{
    border-color: var(--s-color);
}

.search-bar-container i {
    margin: 10px;
    scale: 1.5;
    cursor: pointer;
    border-radius: 40%;
    color: gray
}
.search-bar-container i:hover{
    color: var(--s-color);
}

.search-input:hover {
    border-color: gray;
}
.search-input::placeholder{
    margin-left: 0.5rem;
}
.filter-tags-content > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    list-style-type : none;
}
.filter-tags-content > ul > li{
    flex-grow: 1;
    margin: 10px;
    max-width: 300px;
}
.category-button{
    width: 100%;
    border: transparent;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    transition-property: color background-color;
    padding: 10px;
}
.category-button:hover{
    background-color: buttonHighlight;
}
.category-button.active{
    background-color: buttonHighlight ;
    color: var(--s-color);
}
.products-title{
margin-top: 3rem;
margin-left: 1.5rem;
align-self: flex-start;
}
