.Loginform{
    max-width: 400px;
    margin: 0 auto;
    padding: 20 px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    margin-bottom: 0px;
}

.formgroup{
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"]
input[type = "password"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0069d9;
}

button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
