.prod-details {
  margin: 0 auto;
  border-radius: 20px;
  border: solid 5px var(--light-cp);
  text-align: center;
  width: 50%;
  margin-bottom: 60px;
}
.pd-poster {
  height: 500px;
}
#details-header {
  margin-left: 20%;
  font-size: xx-large;
}
#loading {
  margin: 0 auto;
  font-size: xx-large;
}

#loading h1 {
  padding-top: 30px;
}

.productdet-info{
  font-weight: bold;
  font-size: large;
  background-color: var(--light-cp);
  color: white;
  padding: 10px;
}
