.product-details-container{
    width: 100%;
}
.product-content{
    padding: 0rem, 6rem, 6rem, 6rem;
    border-radius: 40px;

}
.header-content{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.product-details-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}
.product-side-summary{
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.product-name{
    font-size: 3rem;
}
.product-details-price{
    font-size: 2rem;
}
.product-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image img{
    transform: scale(0.8);
    --size: 40rem;
    border-radius: 30px;
    width: var(--size);
    height: var(--size);
}
.sub-header-content{
    margin: 0rem 0rem 0rem 4rem;
    font-size: larger;
}
.sub-header-content h1{
    border-bottom: 5px solid var(--s-color);
    padding: 1rem;
}
.product-description{
    padding: 1rem;
    font-size: 1.5rem;
}
