.product-detail {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px
}

product-card {
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    max-width: 300px
}

.product-card .media {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center
}

.product-card .media img {
    max-width: 300px
}

.product-card .product-info {
    flex: 1;
    display: flex;
    border-top: solid 1px var(--border-color)
}

.product-card .main-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 12px
}

.product-card .main-info .product-name {
    font-size: 15px;
    font-weight: 500
}

.product-card .main-info .product-price {
    font-size: 14px
}

.product-card .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.product-card .quantity {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px
}

.product-card .quantity .amt {
    background: var(--accent-orange);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center
}

.product-card .buttons {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end
}

.product-card .buttons button {
    display: flex;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    max-height: fit-content;
    max-width: fit-content;
    margin: 10px 5px
}

.product-card .buttons i {
    width: 20px;
    height: 20px;
    border: solid 1px var(--bright-green);
    color: var(--bright-green);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px
}

.product-card .desc {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%
}

a,span,div,p,h1,h2,h3,h4,h5,h6,ul,ol {
    margin: 0;
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: var(--font-dark)
}

a {
    text-decoration: none;
    color: var(--bright-green)
}