.product-view {
    display:flex;
    justify-content: center;

    width: 100%;
    height: 50%;
 

}

.product-poster {
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

.product {
    display: inline-block;
    justify-content: center;

    padding: 10%;
    padding-bottom: 0;

}

.product-detail {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(250, 249, 246);
    width: 100%;
    margin-top:0;
}