.logo {
    width: 300px;
    margin-left: 50px;
}
.logo img {
    width: 30px;
    height: 30px;
}
.logo-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
}
.logo-link h1 {
    font-size: 25px;
    margin: 0;
    color: #FFFFFF;
}