body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--grey-bg);
}

* {
  box-sizing: border-box;
}
:root {
  --side-padding: 40px;
  --content-width: 1100px;
  --dark-blue: #2c4047;
  --bright-green: #00c385;
  --pure-white: #fff;
  --grey-bg: #f7f7f7;
  --accent-orange: #ff9017;
  --bright-red: #fe3210;
  --muted: #969696;
  --font-dark: #212121;
  --font-light: #5b5b5b;
  --border-color: #e4e4e4;
  --star-color-filled: #e5a800;
  --star-color-empty: #cbd4e6
}
a,span,div,p,h1,h2,h3,h4,h5,h6,ul,ol {
  margin: 0;
  padding: 0;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: var(--font-dark)
}
a {
  text-decoration: none;
  color: var(--bright-green)
}