* {
    box-sizing: border-box;
}

.checkout-form {
    padding: 16px;
    width: 100%;
}

.checkout-form .input-field {
    width: 100%;
    margin: 5px 0;
}

.checkout-form .input-field .label {
    color: white;
}

.checkout-form .input-field .control {
    width: 100%;
    margin: 5px 0;
}

.checkout-form .input-field .control input {
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border-radius: 8px;
    border: solid 1px #e4e4e4;
    flex: 1;
    font-size: 16px;
}

.checkout-form button {
    margin-top: 10px;
    padding: 12px 18px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: solid 1px white;
    color: white;
}