.checkout-success {
    width: 100%;
    padding: 1rem;
}
.checkout-success>h3 {
    color: #a9d6e5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-success>h3>span {
    margin-left: 10px;
}
.checkout-success p {
    color: #a9d6e5;
}
.checkout-success .card {
    color: #a9d6e5;
    display: flex;
    flex-direction: column;
}
.checkout-success .card .card-title {
    color: #a9d6e5;
    font-weight: 20px;
    margin-bottom: 5px;
}
.checkout-success p {
    color: #a9d6e5;
    font-size: 18px
}
.checkout-success .purchase {
    padding-left: 20px;
}
.checkout-success .purchase li {
    color: #a9d6e5;
}
.checkout-success button {
    margin: 10px;
    padding: 12px 18px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: solid 1px white;
    color: #a9d6e5;
    border: 3px outset #012a4a;
}