.navbar {
    top: 0;
    left: 0;
    width: calc(100% - var(--sidebar-width));
    position: relative;
    left: var(--sidebar-width);
    height: var(--navbar-height);
    z-index: 99999;
    background: var(--bg-light-grey);
    display: flex;
    align-items: center;;
  }

  .navbar-contents {
    max-width: 1300px;
    width: calc(100vw - 250px);
    margin: auto;
    color: var(--font-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-links {
    display: flex;
    gap: 80px;
    flex-grow: 2;
    justify-content: flex-end;
}

.nav-link {
    font-size: 1.2em;
    color: var(--font-primary);
    text-decoration: none;
}