.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:#2c4047;
    color: #fff;
    width: 100%;
    height: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}