@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap";.navbar {
  width: 100%;
  max-width: 100vw;
  background: var(--dark-blue);
  color: var(--pure-white);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding)
}
.navbar a {
  color: #fff;
  font-weight: 500
}

.navbar .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center
}

.navbar .content .logo {
  width: 100px;
  margin-right: 50px
}

.navbar .content .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-right: 50px
}

.navbar .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
  flex: 1;
  max-width: 650px
}
