.categories{
    margin: 2%;
    background-color:#f7f7f7;
    max-width: 100vw;
}

li{
    display: inline;
    cursor: pointer
}

ul{
    display: flex;
    justify-content: space-evenly;
    
}

.links{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:black
}   