.contact {
    width: 100%;
    max-width: 100vw;
    min-height: 350px;
    margin: 40px 0
}

.contact .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 350px
}

.contact .content h3 {
    margin: 10px 0 30px;
    font-size: 24px;
    font-weight: 600
}

.contact .content .summary {
    display: flex;
    flex-direction: row;
    background: var(--dark-blue);
    color: var(--pure-white);
    height: 330px;
    border: solid 1px #e0e0e0;
    overflow: visible
}

.contact .content .summary .info {
    padding: 28px 36px;
    color: var(--pure-white);
    list-style-type: none;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
}

.contact .content .summary .info li {
    color: var(--pure-white);
    margin-bottom: 18px;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%
}

.contact .content .summary .info li .socials {
    color: var(--pure-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px
}

.contact .content .summary .info li .socials svg {
    height: 24px;
    width: 24px
}

.contact .content .summary .info li span {
    width: 100px;
    margin-right: 20px;
    color: var(--pure-white)
}

.contact .content .summary .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 330px
}

.contact .content .summary .media img {
    transform: translateY(-2px)
}