
#contact {
    padding-top: 30px;
    width: 100%;
    max-width: 100vw;
    min-height: 350px;
    margin: 40px 0;
    align-items: flex-start;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .contact-info {
    border-style: solid;
    border-color: #e4ddac;
    border-width: 25%;
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
  }

  .info{
    padding: 28px 36px;
    color: var(--pure-white);
    list-style-type: none;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-text{
    align-items: flex-end;
    padding: 28px 36px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .contact-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px;
  }
  
  h2 {
    padding: 20px;
  }