.content-div {
    background-color: #2c4047;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-left: 50px;
}

.media {
    height: 200px;
    width: 400px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
ignore that
Contact.css
.content-div {
    background-color: #2c4047;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin-left: 50px;
}

.media {
    height: 200px;
    width: 400px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

