* {
    box-sizing: border-box;
}

.product-grid {
    width: 100%;
    max-width: 100vw;
    margin: 40px 0;
}

.product-grid .content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.product-grid .content .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-grid .content h3 {
    margin: 10px 0 30px;
    font-size: 24px;
    font-weight: 600;
}