.productGrid {
    width: 100%;
    max-width: 100vw;
    margin: 40px 0;
}

.productGrid .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h1{
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: var(--font-dark);
}

.productGrid .content .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 100px;
}

.productGrid .productCard {
    height: 350px;
    width: 250px;
    background: var(--pure-white);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
}

.product-grid .product-card .media {
    height: 250px;
    width: 100%;
}

h1{
    text-align: center;
}

