.product-grid {
    width: 100%;
    max-width: 100vw;
    margin: 40px 0;
}

.product-grid .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.product-grid .content .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


