.product {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
  } 
  
  
   .test {
    width: 300px;
    height: 300px;
  }
  
  /* .product {
    width: 100%;
    max-width: 100vw;
    margin: 40px 0;
  } */
  
  .product .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .product .content h3 {
    margin: 10px 0 30px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .product .content .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product .product-card {
    /* height: 350px;
    width: 250px; */
    background: var(--pure-white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    border: solid 1px var(--border-color);
  }
  
  .product .product-card .media {
    height: 250px;
    width: 100%;
  }
  
  .product .product-card .media img {
    height: 250px;
    width: 248px;
  } 

  .Samtest {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

  }
  h3{
     
    justify-content: left;
  }