.hero {
    height: 350px;
    margin-left: 100px;
    margin-right: 100px;
}
.hero .content {
    background: #00c385;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}

.hero .content .intro {
    flex: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 350px;
}

.hero .content .media {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero .content .media .hero-img {
    width: 120px;
    height: 120px;
    margin: 0 105px 0 50px;
}
div{
    margin: 0;
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: black;
}
h7{
    text-align: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white
}   

p{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
}