* {
    box-sizing: border-box;
}

.hero {
    width: 100%;
    max-width: 100vw;
    height: 350px;
}

.hero .content {
    background: rgb(63, 151, 125);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}

.hero .content .intro {
    flex: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
}

.hero .content .intro h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.hero .content .intro p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.hero .content img {
    width: 120px;
    height: 120px;
    margin: 0 105px 0 50px;
}