.hero {
    width: 100%;
    max-width: 100vw;
    height: 350px;
}

.hero .content {
    background: var(--bright-green);
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}

.hero .content .intro {
    flex: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 350px;
}

.hero .content .intro h1 {
    color: var(--pure-white);
    font-size: 60px;
    font-weight: 600;
}

.hero .content .intro p1 {
    color: var(--pure-white);
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

:root {
    --side-padding: 40px;
    --content-width: 1100px;
    --dark-blue: #2c4047;
    --bright-green: #00c385;
    --pure-white: #fff;
    --grey-bg: #f7f7f7;
    --accent-orange: #ff9017;
    --bright-red: #fe3210;
    --muted: #969696;
    --font-dark: #212121;
    --font-light: #5b5b5b;
    --border-color: #e4e4e4;
    --star-color-filled: #e5a800;
    --star-color-empty: #cbd4e6;
}