.cartResults{
    display: block;
    vertical-align: center;
}

.cartResults h3{
    margin-left: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.cart-product-quantity, .cart-product-price{
    font-weight: normal;
    font-size: 20px;
}