.subnavbar {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 var(--side-padding);
}

.subnavbar .container {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.subnavbar .container .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: 40px;
}

.subnavbar .container .search-bar input {
    height: 40px;
    padding: 0 15px;
    border-radius: 8px;
    border: solid 1px #035491;
    flex: 1;
    font-size: 16px;
}

.subnavbar .container .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.subnavbar .container .cart {
    color: white;
    background: rgb(43, 163, 255);
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.subnavbar .menu {
    margin-right: 40px;
}
.subnavbar .category-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    list-style-type: none;
    height: 40px;
    font-weight: 500;
    transition: all .2s ease;
}

.btn{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn.hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}