.filter ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

li button{
  cursor: pointer;
  transition: all .1s ease;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: solid 2px transparent;
  transition: all .2s ease;
}

li{
  list-style-type: none;
}
