.sub-navbar {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 var(--side-padding);
}

.sub-navbar .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sub-navbar .content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}