
/* .search-bar{

    display: flex;
    align-items: center;
   
    
}

#search-input {
    display: flex;
    padding-right: 250px;

}

.search-bar .material-icons {

    background-color: green;
    color: white;
    padding: 7px;
}
.Subnavbar .content {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    margin-left: 140px;
    margin-right: 140px;
    justify-content: space-between;


    

}

.Subnavbar .content .row{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-top: 20px;
    
    
}

.Subnavbar .content .search-bar input {
    height: 40px;
    padding: 0 15px;
    border-radius: 8px 0 0 8px;
    border: solid 1px #e4e4e4;
    flex: 1;
    font-size: 16px;
}

.Subnavbar a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;



}

.Subnavbar ul {

    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.Subnavbar .icons {
    display: flex;
    align-items: center;
    
  }

  .Subnavbar .icons .cart {
    display: flex;
    align-items: center;
    background-color: green;
    padding: 7px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    margin-left: 10px;
  }

  .Subnavbar .icons .cart a {
    color: white;
    margin-left: 5px;
    

  }
  
  .Subnavbar .icons .help {
    display: flex;
    align-items: center;
    margin-right: 50px; 
  }

.Subnavbar .icons .help .material-icons{

    color: gray;
    margin-right: 5px;

}

.menu-open button{

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;


}

.menu-open li:active {

    color: green;
} */


.sub-navbar {
    /* width: 100%; */
    margin-left: 140px;
    margin-right: 140px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 var(--side-padding)
}

.sub-navbar .content {
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    list-style-type: none;

}

.sub-navbar .content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0
}

.sub-navbar .content .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: 40px
}

.sub-navbar .content .search-bar input {
    height: 40px;
    padding: 0 15px;
    border-radius: 8px 0 0 8px;
    border: solid 1px #e4e4e4;
    flex: 1;
    font-size: 16px
}

.sub-navbar .content .search-bar i {
    height: 40px;
    width: 40px;
    background: green;
    color: #fff;
    fill: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}

.sub-navbar .content .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 400px
}

.sub-navbar .content .help,.sub-navbar .content .auth a,.sub-navbar .content .cart a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500
}

.sub-navbar .content .help i {
    color: gray;
    margin-right: 10px
}

.sub-navbar .content .auth a {
    color: black;
    margin: 0 5px
}

.sub-navbar .content .cart {
    color: white;
    background: green;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
   
    
}

.sub-navbar .content .cart i,.sub-navbar .content .cart a {
    color: white;
    margin: 0 5px;
    text-decoration: none
    
}

.sub-navbar .hamburger-menu {
    margin-right: 40px
}

.sub-navbar .hamburger-menu i {
    cursor: pointer;
    color: black
}

.sub-navbar .category-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    list-style-type: none;
    height: 40px;
    font-weight: 500;
    transition: all .2s ease
}

.sub-navbar .category-menu.closed {
    opacity: 0
}

.sub-navbar .category-menu.closed li button {
    transform: scale(.01)
}

.sub-navbar .category-menu li.isActive button {
    border-bottom: solid 2px green
}

.sub-navbar .category-menu li button {
    cursor: pointer;
    transition: all .1s ease;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: solid 2px transparent;
    transition: all .2s ease
}

.sub-navbar .category-menu li button:active {
    transform: translateY(1px)
}








