.sub-navbar {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 var(--side-padding);
}

.sub-navbar .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sub-navbar .content .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.sub-navbar .content .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-right: 40px;
}

.sub-navbar .content .search-bar input {
  height: 40px;
  padding: 0 15px;
  border-radius: 8px 0 0 8px;
  border: solid 1px #e4e4e4;
  flex: 1;
  font-size: 16px;
}

.sub-navbar .content .search-bar i {
  height: 40px;
  width: 40px;
  background: #323232;
  color: #fff;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-navbar .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
}

.sub-navbar .content .help,
.sub-navbar .content .auth a,
.sub-navbar .content .cart a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.sub-navbar .content .help i {
  color: var(--muted);
  margin-right: 10px;
}

.sub-navbar .content .auth a {
  color: var(--font-dark);
  margin: 0 5px;
}

.sub-navbar .content .cart {
  color: var(--pure-white);
  background: #323232;
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.sub-navbar .content .cart i,
.sub-navbar .content .cart a {
  color: var(--pure-white);
  margin: 0 5px;
}

.sub-navbar .hamburger-menu {
  margin-right: 40px;
}

.sub-navbar .hamburger-menu i {
  cursor: pointer;
  color: var(--muted);
}

.sub-navbar .category-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  list-style-type: none;
  height: 40px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.sub-navbar .category-menu.closed {
  opacity: 0;
}

.sub-navbar .category-menu.closed li button {
  transform: scale(0.01);
}

.sub-navbar .category-menu li.is-active button {
  border-bottom: solid 2px #323232;
}

.sub-navbar .category-menu li button {
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: solid 2px transparent;
  transition: all 0.2s ease;
}

.sub-navbar .category-menu li button:active {
  transform: translateY(1px);
}
